<div>
  <h1>Teller Workspace</h1>
  
  <p>
    <strong>Status:</strong> 
    <span >
      {{ sessionState ? 'SESSION OPEN (' + sessionState.teller?.name + ')' : 'NO ACTIVE SESSION' }}
    </span>
    <button (click)="logout()" >Log Out Cashier</button>
  </p>

  <hr />

  <!-- Navigation / Tabs (Only visible if Session is Open) -->
  <div *ngIf="sessionState" >
    <button routerLink="workspace/transaction" routerLinkActive="active">Client Transaction</button>
    <button routerLink="workspace/exchange" routerLinkActive="active">Currency Exchange</button>
    <button routerLink="workspace/journal" routerLinkActive="active">Daily Journal</button>
    <button routerLink="workspace/close" routerLinkActive="active">Close Session</button>
  </div>

  <!-- The "Views" (Routed Sub-Components) -->
  <div >
    <router-outlet></router-outlet>
  </div>
</div>
